.Tooltip {
  box-sizing: border-box;
  opacity: 0;
  position: absolute;
  /* top: 0px; */
  /* left: 0; */
  padding: 0.6em 1em;
  /* background: #fff; */
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  /* border: 1px solid #ddd; */
  border: 1px solid #ddd;
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
  border-radius: 5px;
}
/*
.Tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
} */

.Tooltip-date {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}

.Timeline-header {
  display: flex;
}

.Timeline-header > * {
  margin-right: 15px;
}

.Timeline-select {
  width: 200px;
}
